/* orderList.module.css */

.container {
  padding: 1.5rem;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #003366;
}

.label {
  font-weight: bold;
}

.tableContainer {
  overflow-x: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.table th,
.table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.button {
  padding: 0.4rem 0.8rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
  flex: 0 1 auto;
  margin: 0.3rem 0.5rem;
}

.detailButton {
  background-color: #007bff;
  color: white;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
}

.detailButton:hover {
  background-color: #0056b3;
}

.cancelButton:hover {
  background-color: #c82333;
}

.approveButton {
  background-color: #28a745;
  color: white;
}

.facturaButton {
  background-color: #007bff;
  color: white;
  margin-left: 4px;
}

.pickingButton {
  background-color: #ff5900;
  color: white;
  margin-left: 4px;
}

.guiaButton {
  background-color: #17a2b8;
  color: white;
  margin-left: 4px;
}

.guiaRemisionButton {
  background-color: #ffc107;
  color: black;
  margin-left: 4px;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  margin-left: 4px;
}

/* Estilos para los filtros de búsqueda */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: flex-start;
}

.input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputField {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  margin-right: 1rem;
}

.inputField:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Cambios responsivos */
@media screen and (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }

  .tableContainer {
    padding: 0.5rem;
  }

  .table th,
  .table td {
    padding: 0.3rem 0.5rem;
    font-size: 0.85rem;
    width: 100%;
  }

  .button {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }

  /* Filtros responsivos */
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .inputField {
    width: 100%;
    max-width: 300px;
  }

  .input {
    width: 100%;
    max-width: 300px;
  }
}
