html, body {
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina el padding por defecto */
  padding-top: 0;
  height: 100%; /* Asegura que el body ocupe todo el alto de la pantalla */
  width: 100%; /* Asegura que el body ocupe todo el ancho de la pantalla */
}
/* Estilo general para el cuerpo */
* {
  box-sizing: border-box; /* Asegura que padding y border no afecten al tamaño total */
}

body {
  background-color: #f4f4f4;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el body ocupe todo el alto de la pantalla */
  width: 100%;  /* Asegura que el body ocupe todo el ancho de la pantalla */
}



/* login css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.logo {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.input-field {
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 250px;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #03c1a1;
}












